/*Aplicando CSS de forma Externa*/
/*----------------------------------------*/

img{
    max-width: 100%;
    max-height: 100%;
}

/*-----------------------------------------*/

ul{
    color: tomato;
    list-style-type: none;    
}


/*Selector Clase*/

.subtitulo{
    /*box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.80);*/
    color: rgb(0, 0, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;  /* 1rem = 16px   2rem  = 2 * 16px*/
    padding: 0px;
    margin-top:60px; 
    /*margin-left:5%;*/
     
    
}
.subtitulos{
    /*box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.80) ;*/
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;   /*1rem = 16px   2rem  = 2 * 16px*/
    text-align: center;
    color: rgb(0, 0, 255);
    /*padding-top: 0%;*/
    /*padding-left: 20%;*/
    /*padding:0px;*/
    /*margin-top: 20px;*/ 
    margin-left: 0%;
    
}
.mapa{
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.80);
    /*margin-left: 2%;
    margin-right: 2%;*/
    
}
P {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.64);
    color:rgb(0, 0, 255);
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    /*font-family: Arial, Helvetica, sans-serif;*/
             /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    /*font-family: fantasy 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*background-color: rgba(216, 214, 219, 0.732);*/
    padding:10px;
    text-align: justify;
    margin-top: -15px;
    margin-left: 0%;
    margin-right: 0%;   
}

a{
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-decoration: none;
}

a:hover{
    color: tomato;
    text-decoration: underline;
}

/*.boton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: green;
    color: rgb(70, 8, 243);
    padding: 10px;
}*/
/*.boton:hover{
    background-color: rgb(239, 1, 1);
    color: green;
    border: green 1px solid;
}*/
/*==== Desde aquí inicio la disposicón del CSS valiendonos de Flex-box ====================================================*/
.encabezado{
    width: 95%;
    margin-left: 0%;
   padding-top: 1%;
   padding: 1%;
    /*display: grid;
    grid-template-columns: 200px 200px 200px;*/
    /*grid-template-rows: 100px 100px;*/
/*display: flex
padding-top: 1%;
justify-content: center;*/
}

.logo{
    padding-top: 2%;
    width: 95%;
    padding-left: 5%;
    /*padding-top: %;*/
    
}

.col{
     box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.80);
     
     
}
.col-3{
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.80); 
    color: rgb(0, 0, 255);
   
}
.logo1{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.64);
    width: 95%;
    margin-left: 2%;
    margin-right: 5%;   
}
/*====================================================================CAROUSEL1======================================
============================================================================================================================
===========================================================================================================================*/
* {
  box-sizing: border-box;
}
h1,
p {
  text-align: center;
}
/*p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}*/
a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color:rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color:rgb(255, 255, 255);
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.row {
  /*overflow: scroll;*/
  width: 100%;
}
.row__inner {
  overflow: scroll;
  width: 100%;
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 70;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
  }
  ul li {
    margin: 0;
  }
  
  header h1 {
    padding-left: 1rem;
  }
  
  .caption {
    position: absolute;
    color: white;
    width: 100%;
    margin-left: 1rem;
  }
  
  .instructions {
    padding-left: 1rem;
    color: #aaa;
  }
  
  .slider {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .slider-inner {
    animation: rotate 9s infinite;
  }
  .slider-inner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  @keyframes rotate {
    0% {
      transform: translateX(0);
    }
    15% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-100vw);
    }
    45% {
      transform: translateX(-100vw);
    }
    60% {
      transform: translateX(-200vw);
    }
    75% {
      transform: translateX(-200vw);
    }
    100% {
      transform: translateX(0);
    }
  }

 
  
  
  /*=================================================CARROUSEL2===================================================
  =========================================================================================================================
  ============================================================================================================================*/
  
