/*Aplicando CSS de forma Externa*/
/*----------------------------------------*/

img{
    width: 100%;
}
/*-----------------------------------------*/

ul{
    color: tomato;
    list-style-type: none;    
}

/*Selector Clase*/
.titulo{
    color: white;
    background-color: tomato;
    text-align: center;
}

.subtitulo{
    /*box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.80);*/
    color: rgb(0, 0, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;  /* 1rem = 16px   2rem  = 2 * 16px*/
    padding: 0px;
    margin-top:60px; 
    margin-left:5%; 
    
}
.subtitulos{
    /*box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.80) ;*/
    width: 70%;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;   /*1rem = 16px   2rem  = 2 * 16px*/
    text-align: center;
    color: rgb(0, 0, 255);
    /*padding-top: 0%;*/
    /*padding-left: 20%;*/
    /*padding:0px;*/
    /*margin-top: 20px;*/ 
    margin-left: 10%;
    
}
.mapa{
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.80);
    margin-left: 2%;
    margin-right: 2%;
    
}
.parrafo{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.64);
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    /*font-family: fantasy 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    background-color: rgba(171, 118, 251, 0.732);
    padding:10px;
    text-align: justify;
    margin-top: -15px;
    margin-left: 2%;
    margin-right: 2%;   
}

a{
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-decoration: none;
}

a:hover{
    color: tomato;
    text-decoration: underline;
}

.boton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: green;
    color: white;
    padding: 10px;
}
.boton:hover{
    background-color: white;
    color: green;
    border: green 1px solid;
}
/*==== Desde aquí inicio la disposicón del CSS valiendonos de Flex-box ====*/
.encabezado{
    width: 95%;
    margin-left: 2%;
   padding-top: 1%;
   padding: 1%;
    /*display: grid;
    grid-template-columns: 200px 200px 200px;*/
    /*grid-template-rows: 100px 100px;*/
/*display: flex
padding-top: 1%;
justify-content: center;*/
}

.logo{
    padding-top: 2%;
    width: 95%;
    padding-left: 5%;
    /*padding-top: %;*/
    
}

.col{
     box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.80);
     padding-top: 0%; 
     
}
.col-3{
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.80); 
    color: rgb(0, 0, 255);
   
}
.logo1{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.64);
    width: 95%;
    margin-left: 2%;
    margin-right: 5%;   
}

/*de aqui en adelante los carrouseles*/

.slide{
    width: 88%;
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 25px;
   margin-left: 5%;    
}

.slide-inner {  
    overflow: hidden;
    width: 99%;
    height: calc( 650px + -6rem);
    margin-left: 0.5%; 
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 50;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
   display: block;
      height:550PX;
    max-width: 100%;
    
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 50px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
/*PARA EL PRIMER CORROUSEL*/
#slide-1-1:checked ~ .control-1-1,
#slide-2-1:checked ~ .control-2-1,
#slide-3-1:checked ~ .control-3-1,
#slide-4-1:checked ~ .control-4-1,
#slide-5-1:checked ~ .control-5-1,
#slide-6-1:checked ~ .control-6-1 {
    display: block;
}
/*PARA EL SEGUNDO CORROUSEL*/
#slide-1-2:checked ~ .control-1-2,
#slide-2-2:checked ~ .control-2-2,
#slide-3-2:checked ~ .control-3-2,
#slide-4-2:checked ~ .control-4-2,
#slide-5-2:checked ~ .control-5-2,
#slide-6-2:checked ~ .control-6-2 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
/*CONTROL PARA EL PRIMER CARROUSEL*/
#slide-1-1:checked ~ .control-1-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2-1:checked ~ .control-2-1 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3-1:checked ~ .control-3-1 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo 
#slide-4-1:checked ~ .control-4-1 ~ .slide-indicador 
     li:nth-child(4) .slide-circulo,
#slide-5-1:checked ~ .control-5-1 ~ .slide-indicador 
      li:nth-child(5) .slide-circulo,
#slide-6-1:checked ~ .control-6-1 ~ .slide-indicador 
      li:nth-child(6) .slide-circulo{
    color: #428bca;
}
/*CONTROL PARA EL SEGUNDO CARROUSEL*/
#slide-1-2:checked ~ .control-1-2 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2-2:checked ~ .control-2-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3-2:checked ~ .control-3-2 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo 
#slide-4-2:checked ~ .control-4-2 ~ .slide-indicador 
     li:nth-child(4) .slide-circulo,
#slide-5-2:checked ~ .control-5-2 ~ .slide-indicador 
      li:nth-child(5) .slide-circulo,
#slide-6-2:checked ~ .control-6-1 ~ .slide-indicador 
      li:nth-child(6) .slide-circulo{
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 150px 150px;
  }
